:root {
    --white: #fff;
    --gray-light: #3a3a3c;
    --gray: #121213;
    --black: #090909;
    --yellow: #c9b458;
    --green: #538d4e;

    --sans-serif: 'Helvetica', 'Arial', sans-serif;
}

body {
    align-items: flex-start;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    font-family: var(--sans-serif);
    height: 100vh;
    justify-content: center;
    line-height: 1.5;
    padding: 80px 0;
}

main {
    width: 342px;
}

.instructions {
    text-align: center;
}

.inputs {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(5, 1fr);
    margin: 40px 0;
}

.letter__input {
    appearance: none;
    background: none;
    border: 2px solid var(--gray-light);
    color: var(--white);
    cursor: pointer;
    font: bold 32px var(--sans-serif);
    height: 62px;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    width: 62px;
}

.letter__input--yellow {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.letter__input--green {
    background-color: var(--green);
    border-color: var(--green);
}

.letter__input:hover,
.letter__input:focus {
    border-color: var(--white);
}

.letter__buttons {
    border: none;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    margin: 8px 0 0;
    padding: 0 4px;
}

.letter__radio {
    appearance: none;
    aspect-ratio: 1/1;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    outline: none;
}

.letter__radio[value="black"] { border-color: var(--gray-light); }
.letter__radio[value="yellow"] { border-color: var(--yellow); }
.letter__radio[value="green"] { border-color: var(--green); }

.letter__radio[value="black"]:checked { background-color: var(--gray-light); }
.letter__radio[value="yellow"]:checked { background-color: var(--yellow); }
.letter__radio[value="green"]:checked { background-color: var(--green); }

.letter__radio:not(:checked):hover {
    border-color: var(--white);
}

.letter__radio:focus {
    border-color: var(--white);
}

.submit {
    appearance: none;
    background-color: var(--green);
    border: 2px solid var(--green);
    border-radius: 2px;
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
    grid-column: 1 / -1;
    letter-spacing: 1px;
    margin-top: 16px;
    outline: none;
    padding: 16px;
    text-transform: uppercase;
}

.submit:hover,
.submit:focus {
    border-color: var(--white);
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.suggestions__word {
    background-color: var(--gray-light);
    color: var(--white);
    letter-spacing: 1px;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
}